*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

header{
    background-color: rgb(43, 43, 97);
}

.bg-color-blu{
    background-color: rgb(43, 43, 97);
}

.container-fluid .navbar-brand{
    font-weight: 700;
}


/* MAIN */

/* prima sezione */

.bg-color-green{
    background-color: lightgreen;
}

.content{
    width: 100%;
}

.content img{
    width: 60%;
}

.content h1{
    color: white;
    font-size: 39px;
    font-weight: 700;
}

.content h3{
    color: white;
    font-size: 15px;
}

.line-star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr{
    border: 3px solid white;
    width: 115px;
    border-radius: 20px;
    margin: 10px;
}

.three-word{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
}

.three-word h3, .three-word i{
    padding: 5px;
}

/* seconda sezione */

.bg-color-white{
    height: 300px;
    background-color: white;
}

/* secondo footer */

.bg-color-black{
    height: 100px;
    background-color: rgb(58, 49, 49);
}

