*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* HEADER */

header{
    background-color: rgb(43, 43, 97);
}

.bg-color-blu{
    background-color: rgb(43, 43, 97);
}

.container-fluid .navbar-brand{
    font-weight: 700;
}

.bg-white{
    background-color: white;
}


.padding{
    padding: 15px;
}


/* MAIN */

/* prima sezione */

.bg-color-green{
    height: 200px;
    background-color: lightgreen;
}

/* seconda sezione */

.bg-color-white{
    height: 300px;
    background-color: white;
}

/* secondo footer */

.bg-color-black{
    height: 100px;
    background-color: rgb(58, 49, 49);
}

