*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */


.bg-color-blu{
    height: 70px;
    background-color: rgb(29, 29, 135);
}

.border-black{
    border: 2px solid black;
    background-color: yellow;
}

.padding{
    padding: 15px;
}

/* MAIN */

/* prima sezione */

.bg-color-green{
    height: 200px;
    background-color: lightgreen;
}

/* seconda sezione */

.bg-color-white{
    height: 200px;
    background-color: white;
}
